@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --primary-color: #3ECF4C;
    --secondary-color: #FFBD3A;
    --tertiary-color: #F64920;
    --primary-dark-text-color: #222325;
    --secondary-dark-text-color: #333333AD;
    --disabled-dark-text-color: #3A354161;
    --primary-light-text-color: #FFFFFF;
    --secondary-light-text-color: #C1C2C4;
    --disabled-light-text-color: #9D9EA1;
    --primary-background-color: #FFFFFF;
    --base-background-color: #F4F5FA;
    --secondary-background-color: #F9FAFC;
    --border-color: #3A35411F;
    --pressed-info: #044AA2;
    --hover-info: #0663C2;
    --default-info: #0980E2;
    --info-background-color: #EBF9FE;
    --pressed-success: #1C9675;
    --hover-success: #28B380;
    --default-success: #38D189;
    --success-background-color: #E0FDDF;
    --pressed-warning: #B5A40D;
    --hover-warning: #D8C613;
    --default-warning: #FCE91B;
    --warning-background-color: #FCF8CA;
    --pressed-error: #B72315;
    --hover-error: #DB3D1F;
    --default-error: #FF5C2B;
    --error-background-color: #FCE3D1;
    --info-gradients: linear-gradient(to right, #004CE8, #6F9EFF);
    --success-gradients: linear-gradient(to right, #00C247, #73FFA6);
    --warning-gradients: linear-gradient(to right, #FFE16A, #FFE58036);
    --error-gradients: linear-gradient(to right, #FF3333, #FF8A9B);
    --grayscale-900: #212121;
    --grayscale-800: #424242;
    --grayscale-700: #616161;
    --grayscale-600: #757575;
    --grayscale-500: #9E9E9E;
    --grayscale-400: #BDBDBD;
    --grayscale-300: #E0E0E0;
    --grayscale-200: #EEEEEE;
    --grayscale-100: #F5F5F5;
    --grayscale-50: #FAFAFA;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Shared class styling section start */

.header {
    background-color: var(--primary-background-color);
    height: fit-content;
    border-bottom: 1px solid var(--border-color);
    padding: 12px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.videobelajarLogo {
    width: 237px;
    height: 56px;
}

.main {
    flex-grow: 1;
    background-color: #FFFDF3;
    padding: 64px 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.formContainer {
    width: 590px;
    background-color: var(--primary-background-color);
    border: 1px solid #F1F1F1;
    border-radius: 4px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

.formDesc {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formTitle {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;
    line-height: 110.00000000000001%;
    color: var(--primary-dark-text-color);
}

.formSubTitle {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--secondary-dark-text-color);
}

.action {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.action form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputAction,
.btnAction {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.inputAction {
    width: 518px;
}

.identicalInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.identicalLabel {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--secondary-dark-text-color);
    padding: 0 16px 4px 0;
    display: flex;
    gap: 4px;
}

.asterisk {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: var(--default-error);
}

.wrapper {
    display: flex;
    position: relative;
}

.identicalInputContainer input {
    width: 100%;
    height: 48px;
    padding: 4px 10px;
    border: 1px solid #F1F1F1;
    border-radius: 6px;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: var(--primary-dark-text-color);
}

.wrapper button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    color: var(--disabled-dark-text-color);
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.forgotPassContainer {
    display: flex;
    justify-content: end;
}

.forgotPass {
    background-color: transparent;
    color: var(--secondary-dark-text-color);
    border: none;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.divider {
    color: var(--secondary-dark-text-color);
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #F1F1F1;
}

.divider:not(:empty)::before {
    margin-right: 10px;
}

.divider:not(:empty)::after {
    margin-left: 10px;
}

.googleBtn {
    width: 518px;
    height: 42px;
    background-color: var(--primary-background-color);
    color: var(--secondary-dark-text-color);
    border: 1px solid #F1F1F1;
    padding: 8px 26px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* Shared class styling section end */

/* Login styling section start */

.loginBtn.login,
.registerBtn.login {
    width: 518px;
    background-color: var(--primary-color);
    color: var(--primary-light-text-color);
    border: none;
    border-radius: 10px;
    padding: 10px 24px;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    cursor: pointer;
}

.registerBtn.login {
    background-color: #E2FCD9CC;
    color: var(--primary-color);
}

/* Login styling section end */

/* Register styling section start */

.genderInputContainer {
    width: 100%;
    display: none;
    flex-direction: column;
}

.genderInputContainer select {
    width: 100%;
    height: 48px;
    padding: 4px 10px;
    border: 1px solid #F1F1F1;
    border-radius: 6px;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: var(--primary-dark-text-color);

    /* Customize select dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M10.293,3.293,6,7.586,1.707,3.293A1,1,0,0,0,.293,4.707l5,5a1,1,0,0,0,1.414,0l5-5a1,1,0,1,0-1.414-1.414Z' fill='%233A354161'/%3E%3C/svg%3E");
    background-size: .7em;
    background-position: calc(100% - 0.7em) center;
    background-repeat: no-repeat;
}

.phoneInputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.phoneInputWrapper {
    display: grid;
    grid-template-columns: 0.93fr 2fr;
    grid-template-rows: 48px;
    gap: 24px;
}

.countryCode {
    border: 1px solid #F1F1F1;
    border-radius: 6px;
    display: flex;
}

.countryFlagContainer {
    background-color: var(--base-background-color);
    border-right: 1px solid #F1F1F1;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countryFlagContainer img {
    width: 24px;
    aspect-ratio: 1;
}

.phoneInputWrapper select {
    width: 100%;
    padding: 4px 10px;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    vertical-align: middle;
    color: var(--primary-dark-text-color);
    border: none;

    /* Customize select dropdown arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M10.293,3.293,6,7.586,1.707,3.293A1,1,0,0,0,.293,4.707l5,5a1,1,0,0,0,1.414,0l5-5a1,1,0,1,0-1.414-1.414Z' fill='%233A354161'/%3E%3C/svg%3E");
    background-size: .7em;
    background-position: calc(100% - 0.7em) center;
    background-repeat: no-repeat;
}

.phoneInputContainer input {
    border: 1px solid #F1F1F1;
    border-radius: 6px;
    padding: 4px 10px;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    vertical-align: middle;
}

/* Register styling section end */

/* Homepage styling section start */

.left {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBtn {
    height: fit-content;
    background-color: transparent;
    color: var(--secondary-dark-text-color);
    border: none;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    vertical-align: middle;
    cursor: pointer;
}

.dehazeIcon {
    display: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.avatarImg {
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

/* Homepage styling section end */

/* Media Queries styling section start */

@media only screen and (max-width: 600px) {
    .header {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        padding: 16px 24px;
        box-shadow: 0 0 1px #3E434A4F, 4px 8px 12px #3E434A26;
        z-index: 1;
    }

    .videobelajarLogo {
        width: 152px;
        height: 42px;
    }

    .main {
        padding: 28px 20px;
        gap: 24px;
    }

    .formContainer {
        width: 100%;
        padding: 20px;
        gap: 20px;
    }

    .formDesc {
        width: 100%;
    }

    .formTitle {
        font-size: 24px;
    }

    .formSubTitle {
        font-size: 14px;
    }

    .inputAction,
    .btnAction,
    .identicalInputContainer,
    .googleBtn {
        width: 100%;
    }

    .inputAction {
        gap: 12px;
    }

    .identicalLabel {
        font-size: 14px;
    }

    .genderInputContainer {
        display: flex;
    }

    .forgotPass {
        font-size: 14px;
    }

    .loginBtn.login,
    .registerBtn.login,
    .registerBtn.register,
    .loginBtn.register {
        width: 100%;
        padding: 7px 22px;
        font-size: 14px;
    }

    .divider {
        font-size: 14px;
    }

    .googleBtn {
        width: 100%;
        height: 34px;
        font-size: 14px;
    }
}

/* Media Queries styling section end */